<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set new password</title>
</head>
<body>
    <h2>Set new password</h2>
    <form method="post">
        {% csrf_token %}
        
        {% if form.errors %}
            <div style="color: red;">
                {{ form.errors }}
            </div>
        {% endif %}
        
        <div>
            <label for="id_new_password1">New password:</label>
            {{ form.new_password1 }}
        </div>
        <div>
            <label for="id_new_password2">Confirm new password:</label>
            {{ form.new_password2 }}
        </div>
        
        <button type="submit">Change password</button>
    </form>
    <a href="{% url 'main:hub' %}">Cancel</a>
</body>
</html>