<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    <p><a href="{% url 'main:hub' %}">Back</a></p>
    {% if review_list %}
    <ul>
    {% for review in review_list %}
        <li><a href="{% url 'main:detail' review.id %}">{{ review.review_title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No reviews are available.</p>
    {% endif %}
</body>
</html>